<mat-toolbar color="primary" class="!fixed top-0 z-10">
  <button mat-icon-button (click)="sidenavOpened.set(!sidenavOpened())">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="ml-2">{{ appName }}</span>
  <span class="flex-1"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="langMenu"
    [attr.aria-label]="'language.label' | transloco"
    [title]="'language.label' | transloco"
  >
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #langMenu="matMenu">
    @for (lang of languageStore.available; track lang.code) {
      <button mat-menu-item (click)="languageStore.setLang(lang.code)">
        @if (lang.code === languageStore.current()) {
          <mat-icon>check</mat-icon>
        }
        <span>{{ lang.label }}</span>
      </button>
    }
  </mat-menu>

  @if (authStore.user(); as user) {
    <span class="mr-3 hidden text-sm sm:inline">{{ user.name }}</span>
  }
  <button mat-icon-button [title]="'common.logout' | transloco" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="mt-16 min-h-[calc(100vh-4rem)]">
  <mat-sidenav mode="side" [opened]="sidenavOpened()" class="!w-60">
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item [routerLink]="item.route">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label | transloco }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg-scene">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
